# === CREDENCIAIS — NUNCA SUBIR NO GITHUB ===
.env

# === DADOS GERADOS — MUITO PESADOS PARA O GITHUB ===
dados/
cache/
resultados/

# === DADOS DO FRONTEND ===
frontend/dados/

# === PYTHON ===
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/


# === SISTEMA OPERACIONAL ===
.DS_Store
Thumbs.db
desktop.ini

# === VS CODE ===
.vscode/
*.code-workspace